absl-py==2.0.0
annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.3
asgiref==3.6.0
astropy==5.3.4
asttokens==2.4.0
astunparse==1.6.3
attrs==23.1.0
awscli==1.32.50
backcall==0.2.0
beautifulsoup4==4.11.2
boto3==1.34.4
botocore==1.34.50
cachetools==5.3.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.7
colorama==0.4.4
comm==0.1.4
contourpy==1.1.1
cryptography==39.0.1
cycler==0.12.1
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
dj-database-url==1.2.0
Django==4.1.6
django-allauth==0.52.0
django-bootstrap-v5==1.0.11
django-heroku==0.3.1
django-stubs==1.15.0
django-stubs-ext==0.7.0
docopt==0.6.2
docutils==0.16
EasyProcess==1.1
editables==0.5
entrypoint2==1.1
executing==2.0.0
fastapi==0.115.0
filelock==3.13.3
flatbuffers==23.5.26
fonttools==4.43.1
gast==0.5.4
google-api-core==2.15.0
google-api-python-client==2.112.0
google-auth==2.23.4
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.59.2
gTTS==2.5.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.10.0
hatch==1.9.1
hatchling==1.21.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
hyperlink==21.0.0
idna==3.10
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
ipykernel==6.25.2
ipython==8.16.1
jaraco.classes==3.3.0
jedi==0.19.1
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.4.0
jupyter_core==5.4.0
keras==2.15.0
keyboard==0.13.5
keyring==24.3.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
more-itertools==10.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mss==9.0.1
mypy==1.0.1
mypy-extensions==1.0.0
nest-asyncio==1.5.8
numpy==1.26.1
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.11.1
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.1
pandas==2.1.1
parso==0.8.3
pathspec==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.12.1
pipreqs==0.4.13
platformdirs==4.2.0
playsound==1.3.0
pluggy==1.3.0
praw==7.7.1
prawcore==2.4.0
proglog==0.1.10
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.6
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py3-tts==3.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
pydub==0.25.1
pyerfa==2.0.1.1
PyGetWindow==0.0.9
Pygments==2.16.1
PyJWT==2.6.0
PyMsgBox==1.0.9
pynput==1.7.6
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-Cinematic==10.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOBluetooth==10.1
pyobjc-framework-IOBluetoothUI==10.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-libxpc==10.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-PHASE==10.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-SensitiveContentAnalysis==10.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-Symbols==10.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyparsing==3.1.1
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pyttsx3==2.90
pytweening==1.0.7
pytz==2023.3.post1
PyVirtualDisplay==3.0
PyYAML==6.0.1
pyzmq==25.1.1
reddit==0.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.7.2
rubicon-objc==0.4.6
s3transfer==0.9.0
scikit-learn==1.3.2
scipy==1.11.3
screenshot==1.0.0
selenium==4.16.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.3
stack-data==0.6.3
starlette==0.38.6
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.3.0
threadpoolctl==3.2.0
# Editable install with no version control (tiktok-uploader==1.0.14)
-e /Users/emmittjames/personal/projects/tiktok-uploader
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.3
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
trio==0.23.2
trio-websocket==0.11.1
trove-classifiers==2024.1.8
types-pytz==2022.7.1.2
types-PyYAML==6.0.12.8
typing_extensions==4.9.0
tzdata==2023.3
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.14
userpath==1.9.1
uvicorn==0.30.6
virtualenv==20.25.1
wcwidth==0.2.8
webdriver-manager==4.0.1
websocket-client==1.7.0
Werkzeug==3.0.1
whitenoise==6.4.0
wrapt==1.14.1
wsproto==1.2.0
yarg==0.1.9
zipp==3.17.0
zstandard==0.22.0
